*{
    font-family: Rheaski, Tahoma, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: url('assets/bg.png') no-repeat center center/cover; 
}

main{
    width: 80vw;
    height: 80vh;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom,#f8f8f8, #cfcfcf);
    padding: 20px;
    color: #383838;
}

section{
    width: 100%;
}

section.populated{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: scroll;
}

.starter-text{
    padding: 0 80px;
}

form{
    height: 50px;
    width: 100%;
    display: flex;
    border-top: 2px solid #828282;
    padding-top: 20px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

input.question-box{
    width: 85%;
    padding: 10px;
    font-size: 15px;
    color: #383838;
    border: none;
}

input[type="submit"]{
    width: 15%;
    padding: 10px;
    background-color: #411b8d;
    color: #fff;
    border: none;
    font-size: 15px;
}

input:focus{
    outline: none;
}

.bubble{
    margin: 8px;
    padding: 8px;
    font-size: 15px;
    border: none;
    color: #383838;
    box-shadow: #9595330 0 8px 24px;
    width: 80%;
    text-align: left;
}

.bubble.user{
    border-radius: 20px 20px 0 20px;
    border-color: #E1F4FFFF;
    margin-left: auto;
}

.bubble.ai{
    border-radius: 20px 20px 20px 0;
    background-color: #dce7ff;
}

.prompt-suggestions-row{
    width: 100%;
}

.promptSuggestionsButton{
    margin: 8px;
    padding: 8px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #d4d4d4;
}
.promptSuggestionsButton:hover{
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-out;
    cursor: pointer;
}

.loader{
    width: 60px;
    margin: 10px;
    aspect-ratio: 4;
    background: 
        no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 0 50%,
        no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 50% 50%,
        no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 100% 50%;
    background-size: calc(100% / 3) 100%;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    33% {
        background-size: calc(100% / 3) 0, calc(100% / 3) 100%, calc(100% / 3) 100%;
    }
    50% {
        background-size: calc(100% / 3) 100%, calc(100% / 3) 0, calc(100% / 3) 100%;
    }
    66% {
        background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0;
    }
}